*{
    text-align: left;
}

input{
    height: 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    padding: 5px;
    width: 400px;
}

ul{
    padding: 0;
}

li{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(224, 188, 119);
    padding: 5px;
    width: 400px;
    margin-top: 7px;
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}


.btn{
    margin: 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    padding: 6px;
    background-color: rgb(255, 251, 0);
    font-weight: bold;
}

li button{
    background-color: white;
    color: red;
    border-radius: 50%;
    font-weight: bolder;
}

fieldset{
    width: 250px;
    margin: 200px auto;
}

fieldset legend{
    text-align: center;
}

 input{
    margin-bottom: 20px;
}

fieldset button{ 
    width: 100px;
    height: 30px;
    text-align: center;
}

fieldset span{
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
}

.phone{
    display: flex;
    justify-content: center;
    gap: 120px;
}

.left{
    margin-top: 20px;
    background-color: rgb(224, 188, 119);
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    max-height: 300px;
}

.left input{
    width: 250px;
}

.left button{
    width: 260px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    background-color: aqua;
    font-weight: bold;
    cursor: pointer;
}

.right{
    background-color: aqua;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.right div li{
    max-width: 300px;
}

.flex input{
    max-width: 220px;
    height: 33px;
}

.flex button{
    height: 35px;
    background-color:  rgb(224, 188, 119);
    border-radius: 10px;
    font-weight: bold;
    width: 80px;
    text-align: center;
    cursor: pointer;
}